:root {
    --scrollPos:0px;
    --totalHeight:10000000000000;
    --scrollPosDeg:0deg;
    --scrollPosPercentage:0;
}

img {
    height: 400px;
    width: 400px;
    border-radius: 50%;;
    
}
.container {
    position:fixed;
    width: 100vw;
    display: flex;
    top: 1.5vw;
    left: 1.5vw;
    height: 100vh;
    
}
.pie {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.progress {
    width: 500px;
    height: 500px;
    margin-top: 20px;;
    transform: 
        scale(max(calc(.85 - (5 * var(--scrollPosPercentage) / var(--totalHeight))),.7)) translate(
            max(calc(-3000 * (var(--scrollPos) / var(--totalHeight))),-120px),
            max(calc(-3000 * (var(--scrollPos) / var(--totalHeight))),-100px)
        );
}
.content {
    height: calc(100vh*4);
    top:0;
    left: 0;
    z-index: -1;
}


svg.top-right {
    position: absolute;
    top:-260px;
    left:-240px;
    transform: rotate(-86deg);
}
svg.bottom-right {
    position: absolute;
    top: -240px;
    left: -240px;
    transform: rotate(4deg);
    
}
svg.bottom-left {
    position: absolute;
    top: -240px;
    left: -260px;
    transform: rotate(94deg);
}
svg.top-left {
    position: absolute;
    top: -260px;
    left: -260px;
    transform: rotate(184deg);
}
circle.top-right {
    stroke: red;
    stroke-width: 30px;
    fill: rgba(255, 255, 255, 0);
    stroke-dasharray:1445px ;
    stroke-dashoffset:  max(1111px, calc(1445px - (1445 *  (var(--scrollPos) / var(--totalHeight)))));
    
}

circle.bottom-right {
    stroke: blue;
    stroke-width: 30px;
    fill: rgba(255, 255, 255, 0);
    stroke-dasharray: 1445px;
    stroke-dashoffset: min(1445px, max(1111px, calc(1806.25px - (1445 * (var(--scrollPos) / var(--totalHeight))))));
}

circle.bottom-left {
    stroke: green;
    stroke-width: 30px;
    fill: rgba(255, 255, 255, 0);
    stroke-dasharray: 1445px;
    stroke-dashoffset: min(1445px, max(1111px, calc(2167.5px - (1445 * (var(--scrollPos) / var(--totalHeight))))));
}

circle.top-left {
    stroke: purple;
    stroke-width: 30px;
    fill: rgba(255, 255, 255, 0);
    stroke-dasharray: 1445px;
    stroke-dashoffset: min(1445px, max(1111px, calc(2528.75px - (1445 * (var(--scrollPos) / var(--totalHeight))))));
}


.content > div {
    height: 100vh;
    width:100vw;
}
.splash {
    background-color: rgb(255, 200, 200);
}
.qualifications {
    
    background-color: rgb(200, 200, 255);
}
.work {
    
    background-color: rgb(200, 255, 200);
}
.about {
    
    background-color: rgb(255, 200, 255);   
}
.content > .contact {
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 200, 200);
}