:root {
    --scrollPos:0px;
    --totalHeight:10000000000000;
    --scrollPosDeg:0deg;
    --scrollPosPercentage:0;
    --heightWithMin: max(680px, 100vh) 
}

img {
    height: 400px;
    width: 400px;
    border-radius: 50%;;
    
}
.container {
    position:fixed;
    flex-direction: column;
    width: 100vw;
    display: flex;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 0;
    
}
.pie {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.progress {
    width: 500px;
    height: 500px;
    margin-top: 55px;;
    transform: 
        scale(max(calc(.85 - (6 * var(--scrollPosPercentage) / var(--totalHeight))),.35)) translate(
            max(calc(-3000 * (var(--scrollPos) / var(--totalHeight))),-250px),
            max(calc(-5000 * (var(--scrollPos) / var(--totalHeight))),-400px)
        );
}



svg.top-right {
    position: absolute;
    top:-260px;
    left:-240px;
    transform: rotate(-86deg);
}
svg.bottom-right {
    position: absolute;
    top: -240px;
    left: -240px;
    transform: rotate(4deg);
    
}
svg.bottom-left {
    position: absolute;
    top: -240px;
    left: -260px;
    transform: rotate(94deg);
}
svg.top-left {
    position: absolute;
    top: -260px;
    left: -260px;
    transform: rotate(184deg);
}
circle.top-right {
    stroke: #8ecae6;
    stroke-width: 30px;
    fill: rgba(255, 255, 255, 0);
    stroke-dasharray:1445px ;
    stroke-dashoffset: min(1445px,max(1111px, calc(1445px - (1336 *  (var(--scrollPos) / (var(--totalHeight) + 80))))));
    
}

circle.bottom-right {
    stroke: #219ebc;
    stroke-width: 30px;
    fill: rgba(255, 255, 255, 0);
    stroke-dasharray: 1445px;
    stroke-dashoffset: min(1445px, max(1111px, calc(1445px - (1336 * ((var(--scrollPos) - (var(--heightWithMin) + 80px))) / var(--totalHeight)))));
}

circle.bottom-left {
    stroke: #ffb703;
    stroke-width: 30px;
    fill: rgba(255, 255, 255, 0);
    stroke-dasharray: 1445px;
    stroke-dashoffset: min(1445px, max(1111px, calc(1445px - (1336 * ((var(--scrollPos) - ((2 * var(--heightWithMin)) + 80px)) / var(--totalHeight))))));
}
circle.top-left {
    stroke: #fb8500;
    stroke-width: 30px;
    fill: rgba(255, 255, 255, 0);
    stroke-dasharray: 1445px;
    stroke-dashoffset: min(1445px, max(1111px, calc(1445px - (1336 * ((var(--scrollPos) - ((3 * var(--heightWithMin)) + 80px)) / var(--totalHeight))))));
    }

.content {
    z-index: 10;
    margin-top: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.content > div {
    height: 100vh;
    min-height: 680px;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:baseline ;
}
.splash {
    background-color: rgb(255, 255, 255);
}
.qualifications {
    
    background-color: rgb(220, 220, 220);
}
.work {
    
    background-color: rgb(255, 255, 255);
}
.about {
    
    background-color: rgb(220, 220, 220);
}
.contact {
    background-color: rgb(255, 255, 255);
}

.splash > .contentBox {
    margin-top: 100px;
}

.contentBox {
    max-width: 1166px;
    padding-left: 100px;
    box-sizing: border-box;
}
.headline {
    font-size: 80px;
    width: 50vw;
    text-align: center;
    font-weight: bold;
}
.highlight {
    position: relative;
    display: inline-block;
    z-index: 3;
}
.highlight:before {
    content: "";
    background-color: #8ecae6;
    width: 90%;
    height: .2em;
    z-index: -1;
    position: absolute;
    filter: url(#marker-shape);
    left: -0.05em;
    padding: 0 0.25em;
    bottom: 0.2em
}