.navContainer {
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    top: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 100;
    
}
.navCenter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1166px;
    box-sizing: border-box;
    height: 80px;
    padding: 0 30px;
    background-color: #FFFFFF;
    /* backdrop-filter: blur(10px); */
}
.navName {
    font-size: 26px;
    display: flex;
    align-items: center;
    width: 236px
}
.github {
    height: 35px;
    padding: 2.5px;
    margin-left: 15px;
    border:1px solid #000000;
    background-color: #F0F0F0;
}
.navLinkedIn {
    padding:5px 15px;
    box-sizing: border-box;
    
    font-size: 18px;
    font-weight:  bold;
    display: flex;
    background:#0d6efd;
    color: white;
    display: flex;
    align-items: center;
}
.navLinkedIn svg {
    font-size: 25px;
    padding-top: 3px;
    padding-right: 3px;
}
.navName svg {
    font-size: 32px;
    padding-top: 3px;
}
.sectionLabelMover>div {
    height: 70px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    
    margin-top: 15px;
    backdrop-filter: blur(10px);
}

.sectionLabelMover {
    transform: translateY(max(calc(0px + (-340 * (var(--scrollPos) / (var(--totalHeight) )))), -340px));
}

.sectionLabelSplash {
    text-decoration: underline;
    text-decoration-color: #8ecae6;
}

.sectionLabelQual {
    text-decoration: underline;
    text-decoration-color: #219ebc;;
}

.sectionLabelProjects {
    text-decoration: underline;
    text-decoration-color: #ffb703;
}

.sectionLabelAbout {
    text-decoration: underline;
    text-decoration-color: #fb8500;
}

.sectionLabelContact {
    text-decoration: underline;
    text-decoration-color: #000000;
}

.sectionLabelContainer {
    padding-top:28px;
    box-sizing: border-box;
    height: 80px;
    display: flex;
    align-self: baseline;
    margin: 0px;
    mask-image: linear-gradient(transparent 5%, black 50% 80%, transparent 100%);
    overflow: hidden;

}
div.sectionLabelSplash {
    margin: 0;
}

.caret {
    font-size: 26px;
    
}